<div>
  <form [formGroup]="overrideForm">
    <label>Manual Override</label>
    <div>
      <label for="">Y: </label>
      <input formControlName="x" type="text">
    </div>
    <div>
      <label for="">X: </label>
      <input formControlName="y"type="text">
    </div>
    <label for="">Set To:</label>
    <input formControlName="state" type="radio" value="on"> ON
    <input formControlName="state" type="radio" value="off"> OFF
  </form>
  <button (click)="sendData()">Confirm</button>
</div>
